.image-container {
    position: relative;
    display: inline-block;
}

.image {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px; /* Adjust as needed */
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px; /* Adjust size as needed */
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.image-container:hover .play-button {
    opacity: 1;
}

.play-button i {
    pointer-events: none; /* Prevent interaction with the icon itself */
}

#main-player #mep_1 {
    display: none;
}

/*New songs*/
#new-songs h5 {
    margin: 0;
}

#new-songs a {
    text-decoration: none;
}
#new-songs a:hover {
    text-decoration: underline;
}

/*main-player-container*/
#main-player-container a {
    text-decoration: none;
    color: black;
}

#main-player-container a:hover {
    text-decoration: underline;
}

/*like heart*/
.bi-heart-fill {
    color: #ff4b5c;
}